<form action="
login" method="post">
<label for="name">
    Name
</label>
<input type="text" name="name" id="name"><br><br>
<label for="password">
    password
</label>
<input type="password" name="password" id="password">
<button type="submit" id="button">
    login
</button>
</form>